<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to the GitPub</h1>

    <!-- adding a loop to get all the drink names in an ul -->

    <ul>
        <% for (let i = 0; i < drinks.length; i++) { %>
            
                
                <% function capitalizeFirstLetter(string) { %>
                <%    return string.charAt(0).toUpperCase() + string.slice(1) %>
                <%  } %>
                <%  const theDrinkName = drinks[i].name %>
                <%  const correctDrinkName = capitalizeFirstLetter(theDrinkName); %>
                <li><a href="/drinks/<%=i%>"><%=`${correctDrinkName}`%></a></li>
            
        <%}  %>
    </ul>




</body>

<style>
    h1 {
        color: brown;
        text-align: center;
    }

    ul {
        text-align: center;
        list-style: none;
    }

    body {
        background-color: burlywood;
        background-size: cover;
    }
</style>

</html>