<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to the GitPub</h1>

    <!-- adding a loop to get all the drink names in an ul -->

    <ul>
        <% for (let el of drinks) { %>
            
                
                <% function capitalizeFirstLetter(string) { %>
                <%    return string.charAt(0).toUpperCase() + string.slice(1) %>
                <%  } %>
                <%  const theDrinkName = el.name %>
                <%  const correctDrinkName = capitalizeFirstLetter(theDrinkName); %>
                <li><%=`${correctDrinkName}`%></li>
            
        <%}  %>
    </ul>




</body>

<style>
    h1 {
        background-color: aqua;
        color: brown;
    }

    body {
        background-color: beige;
    }
</style>

</html>